:root {
    --color-dark:#000;
    --color-primary:#14213d;
    --color-contrast:#fca311;
    --color-neutral:#ebebeb;
    --color-light:#fff;
    --color-error:#f00;
    --color-gray:#999;
}
* {
    box-sizing:border-box;
}
body {
    margin:0 auto;
    min-height:100vh;
    background-color:var(--color-neutral); 
    color:var(--color-dark);
    font-family:Verdana;
}
.navbar {
    display:flex;
    min-height:60px;
    padding:.5rem 1rem;
    align-items:center;
    background-color:var(--color-primary);
    box-shadow:0 1px 16px 0 rgba(0,0,0,.25);
    font-family:'Open Sans', sans-serif;
    color:var(--color-light);
    white-space: nowrap;
}
p {
    margin:.15rem 0;
}
.rating {
    display:flex;
    align-items:center;
    user-select:none;
}
.star:not(.starselected) {
    color:var(--color-gray);
}
.starselected {
    color:var(--color-contrast);
}
textarea:focus,
input:focus {
    outline:none;
}
textarea {
    resize:none;
    font-size:1rem;
}
.btn {
    background-color:var(--color-primary);
    color:var(--color-light);
    border:none;
    border-radius:6px;
    padding:10px 16px;
}
.btn.tryagain {
    display:block;
    background-color:var(--color-light);
    color:var(--color-primary);
    border:1px solid var(--color-primary);
    border-radius:4px;
    margin:35px auto;
    padding:11px 14px;
    font-size:1.2rem;
}
.review {
    margin:10px auto 30px auto;
    padding:20px 20px 20px 20px;
    width:600px;
    height:auto;
    background-color:var(--color-light);
    color:var(--color-dark);
    line-height:1.75rem;
    border-radius:12px;
    box-shadow:1px 1px 4px 0 rgba(0,0,0,.25);
}
.review_username {
    font-weight:bold; 
    color:var(--color-primary);
    margin-right:10px;
}
.review_area {
    width:560px; 
    height:100px; 
    margin:10px auto 5px auto; 
    font-size:1rem; 
    font-family:Verdana; 
    resize:none;
}
.info {
    color:var(--color-dark);
}
.error {
    color:var(--color-error);
    margin:20px 0 0 0;
}
p.error {
    margin:0;
}
.pagebar {
    display:flex;
    flex-direction:row;
    justify-content:center;
    list-style-type:none;
    user-select:none;
}
@media(max-width:767px) {
    body {
        font-size:2.25rem;
        line-height:3.75rem;
    }
    .navbar {
        height:25px;
        font-size:1.6rem;
    }
    .content {
        width:95%;
        margin:50px auto 0;
    }
    label {
        font-size:1.3rem;
        margin-right:10px;
    }
    .star {
        font-size:1.5rem;
        letter-spacing:1.3rem;
    }
    .star_selected {
        font-size:30rem;
    }
    .rating span {
        font-size:2rem;
        margin-bottom:5px;
    }
    .rating p {
        margin-right:20px;
    }
    h1, h2 {
        font-size:unset;
    }
    .review {
        margin:20px auto 40px auto;
        padding:30px 40px 10px 40px;
        width:max(320px, 95%); 
        font-size:1.3rem;
        line-height:2.5rem;
    }
    .review.published .star {
        letter-spacing:0.3rem;
    }
    .review:first-child {
        margin-top:32px;
        margin-bottom:20px;
    }
    .review_title {
        line-height:2rem;
    }
    .review_area {
        width:100%; 
        height:200px; 
        margin:10px auto 10px auto;
        font-size:1.3rem;
    }
    .input_name {
        display:block;
        width:100%; 
        height:50px; 
        font-size:1.3rem;
        margin:20px 0 20px 0;
    }
    .btn {
        font-size:1.6rem;
        margin:30px auto 25px auto;
        padding:16px 24px;
        display:block;
    }
    .error {
        font-size:1.3rem;
        margin:0;
        margin-bottom:10px;
    }
    .info {
        margin-top:10px;
        margin-bottom:10px; 
        font-size:1rem; 
        text-align:right;
    }
    .pagebar {
        padding:2px 8px;
        text-decoration:none;
        overflow:hidden;
        font-size:1rem;
    }
    .pagebar .page-number {
        padding:12px 12px;
        margin:0 1px;
        text-decoration:none;
        transition:background-color .3s;
    }
    .pagebar .page-number.active {
        background-color:var(--color-primary);
        color:var(--color-light);
        border-radius:4px;
    }
    .only_text_div {
        width:90%; 
    }
}
@media(min-width:768px) {
    body {
        font-size:1rem;
    }
    .content {
        width:640px;
        margin:50px auto 0;
    }
    .container {
        display:flex;
        width:1400px;
        max-width:95%;
        margin:0 auto;
    }
    .logo {
        text-align:left;
    }
    .logo h1 {
        font-size:1.6rem;
    }
    .only_text_div {
        width:60%; 
        margin:0 auto;
    }
    h1 {
        margin:0;
        font-size:2rem;
        text-align:center;
    }
    h2 {
        margin-top:0;
        font-size:1.5rem;
        text-align:center;
    }
    ul, p {
        line-height:2rem;
    }
    a:link {
        color:#1c6cff;
    }
    a:visited {
        color:#1c6cff;
    }
    .star {
        font-size:1.5rem;
    }
    .rating span {
        margin-bottom:1px;
    }
    .rating p {
        margin-right:10px;
    }
    .review {
        line-height:1.75rem;
    }
    .input_name {
        margin-right:15px; 
        width:270px; 
        height:36px; 
        font-size:1rem; 
        font-family:Verdana;
    }
    .btn {
        font-size:16px; 
        font-family:Verdana;
    }
    .info {
        margin-bottom:0; 
        text-align:right;
        font-size:0.85rem;
    }
    .separator {
        height:100px;
    }
    .pagebar {
        padding:10px 16px;
        font-size:1rem;
    }
    .page-number {
        color:var(--color-dark);
        padding:6px 16px;
        margin:0 2px;
        transition:background-color .1s;
    }
    .pagebar .page-number.active {
        background-color:var(--color-primary);
        color:var(--color-light);
        border-radius:4px;
    }
}